

.home-header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/5160427.jpg) !important;
    height: 100vh !important;
    background-size:cover !important;
    background-attachment:inherit !important;
    background-repeat: no-repeat !important;
    position: relative !important;
    background-position: center !important;
}

.title{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}

.title .title-h1{
    color: #fff !important;
    font-size: 40px !important;
    text-align: center !important;
    font-weight: bold;
}

.title .title-p{
    color: rgb(249, 244, 244) !important;
    font-size: 20px !important;
    padding-top: 19px !important;
    text-align: center !important;
    font-weight: 500;
}

.button{
    position: absolute !important;
    top: 75% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}

.button a{
    text-decoration: none !important;
    color: #fff !important;
    background-color: rgb(54, 185, 246) !important;
    border: 1px solid transparent !important;
    padding: 10px 30px !important;
    transition: 0.6s ease !important;
    box-shadow: inset !important;
}

.button a:hover{
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: 0px 5px 5px rgb(54, 185, 246) !important;
    scale: 3.05 !important;
}

/* Responsive design  */
@media(max-width :992px){

    .title .title-p{
        display: none !important;
    }
    
}

@media (max-width :575px) {

    .button{
        top: 80% !important;
    }
    .button a{
        padding: 10px 15px !important;
    }

    .title .title-h1{
        font-size: 28px !important;
    }
    
}

@media (max-width :1460px){
    .button{
        top: 80% !important;
    }
}
